ol.timeSheetRow .ui-selecting
{
	background: #FECA40;
}
ol.timeSheetRow .ui-selected
{
	background: #F39814;
	color: white;
}
ol.timeSheetRow
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:table-row;
}
ol.timeSheetRow li
{
	float:left;
	width: 100px;
	height: 80px;
	margin: 3px;
	padding: 0.4em;
	font-size: 1.4em;
	background:#EDE6E9;
	border:1px black solid;
}